body{
    background-color: darkcyan;
}
h1,h2,h3{
    text-align: center;
    color: aliceblue;
}
h2{
    font-style: italic;
}
p{
    text-align: center;
    color: chartreuse;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 25px;
}
input{
    text-align: center;
}

button{
    align-items: center;
}
.hidden{
    display: none;
}